{
    email {$CADDY_EMAIL}
}

{$TUTORFLOW_DOMAIN} {
    encode zstd gzip

    @websocket path /ws*
    reverse_proxy @websocket realtime-service:8089

    @api path /health /auth* /me /users* /students* /lessons* /assignments* /payments* /notifications* /dashboard* /files* /chats*
    reverse_proxy @api api-gateway:8080

    reverse_proxy frontend:80
}
